<a href="https://colab.research.google.com/github/Lewys-Tech/Simplifying-SQL-Parsing-Transpilation/blob/main/SQL_Transpilation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install sqlglot

Requirement already satisfied: sqlglot in /usr/local/lib/python3.11/dist-packages (25.20.2)

In [8]:
mysql_query = """
SELECT IFNULL(employee_name, 'Unknown') AS employee_status
FROM employees;
"""

In [9]:
import sqlglot


# Transpile the MySQL query to Spark SQL dialect
spark_sql_query = sqlglot.transpile(mysql_query, read="mysql", write="spark")[0]

print(spark_sql_query)

SELECT COALESCE(employee_name, 'Unknown') AS employee_status FROM employees